/* assets/style.css */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: rgb(37, 36, 36); /* Altera a cor de fundo para preto */
}

.header-container {
  background-color: #000000; /* Altera a cor de fundo para branco */
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CSS for user info container */
.user-info-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

@keyframes emoji-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.header-emoji {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
  animation: emoji-float 2s infinite; /* Apply the animation to the emoji */
}


.header-title {
  color: rgb(92, 175, 126); /* Altera a cor do título para verde */
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.header-description {
  color: rgb(249, 249, 249); /* Deixa a frase em preto */
  margin: 4px auto;
  text-align: center;
  max-width: 450px;
}

/* CSS for button container
.open-filter-container {
  margin-top: 20px; /* Adjust this value to increase or decrease the space below the header
} */

/* CSS for button */
.open-filter-btn {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margins */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 12px; /* Rounded corners */
}

.open-filter-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Gráficos e Tabelas */
.chart {
  margin: 1px;  /* Center align horizontally */
  display: inline-block;  /* Display as inline block to center-align */
  height: 400px;
  width: 100%;
  border-radius: 10px;
}

.graph-title {
  margin-top: 0;
  color: rgb(12, 12, 12); /* Cor do texto */
  background-color: rgb(218, 218, 218); /* Cor de fundo */
  padding: 10px; /* Espaçamento interno */
  border-radius: 10px 10px 0 0;
}

.table {
  width: 100%;
  height: 86.2%;
  background-color: white;
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
}

.table th, .table td {
  border: 1px solid #8db193;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: rgb(110, 180, 139);
}

.table img {
  width: 50px;
  height: 50px;
}

/* Wrapper */
.wrapper1 {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-top: 32px;
}

.wrapper2 {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-top: 15px;
}

.wrapper3 {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-top: 15px;
}

.wrapper1 .card, .wrapper2 .card, .wrapper3 .card {
  flex: 1;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px 10px 0 0;
}

.wrapper3 .card {
  flex: 1;
}

.wrapper2 .card {
  flex: 2;
}

/* .wrapper {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 5000px;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 32px;
} */

.wrapper-2 {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 32px;
  position: relative;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space elements evenly */
  align-items: center; /* Align items vertically */
  border-radius: 10px 10px 0 0;
}

.card-2 {
  /* margin-bottom: 24px; */
  box-shadow: 0 4px 6px 0 rgb(255, 255, 255);
  background-color: #ffffff; /* Cor de fundo cinza claro */
  position: relative;
  border-radius: 10px 10px 0 0;
  flex: 1; /* Each card takes equal space in the flex container */
  /* margin-right: 10px; /* Add some margin between the cards */
}

.info-message-container {
    /* flex: 1; Make the info-message-container take up equal space */
    position: absolute; /* Set the position of the info-message-container to absolute */
    top: 62px; /* Position it at the top of the wrapper */
    left: 0px; /* Position it at the left of the wrapper */
    background-color: rgba(255, 255, 255, 0.6); /* Add a background color with transparency */
    padding: 10px; /* Add some padding */
}

.card {
  margin-bottom: 15px;
  box-shadow: 0 4px 6px 0 rgb(255, 255, 255);
  background-color: #ffffff; /* Cor de fundo cinza claro */
  border-radius: 10px;
}


.menu {
  height: 112px;
  width: 912px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 24px;
  margin: -80px auto 0 auto;
  background-color: rgb(65, 94, 65);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
  color: rgb(180, 207, 180);
  width: 256px;
  height: 48px;
}

.Select--single>.Select-control .Select-value,
.Select-placeholder {
  line-height: 48px;
}

.Select--multi .Select-value-label {
  line-height: 32px;
}

.menu-title {
  margin-bottom: 6px;
  font-weight: bold;
  color: #c2dfda;
}

.dropdown-container {
  display: flex;
  justify-content: center; /* Centraliza os dropdowns no meio */
  align-items: center; /* Alinha os itens verticalmente no meio */
  
}

/* Style for individual dropdown items */
.dropdown-item {
  flex: 1;  /* Grow to fill available space */
  min-width: 200px;  /* Minimum width for each dropdown */
}

.dropdown {
  flex: 1;
  margin: 0 10px; /* Adiciona um espaço entre os dropdowns */
  
}

/* Aumenta o tamanho dos dropdowns */
.dropdown select {
  background-color: rgb(14, 28, 14);
  color: rgb(106, 111, 74); /* Altera a cor das letras para branco */
  width: 150px; /* Ajusta a largura */
  height: 40px; /* Ajusta a altura */
}

/* Deixa os rótulos em branco */
.dropdown-container label {
  color: rgb(112, 168, 112);
}


/* Muda a cor dos títulos dos gráficos para verde */
.card .graph-title {
  margin-top: 0;
  color: rgb(12, 12, 12); /* Cor do texto */
  background-color: rgb(218, 218, 218); /* Cor de fundo */
  padding: 10px; /* Espaçamento interno */
}

@keyframes zoom {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(1.1); /* Zoom in to 110% */
  }
  100% {
    transform: scale(1); /* Back to original scale */
  }
}

.img-zoom {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: zoom 3s alternate infinite; /* Apply the zoom animation */
}

/* CSS for modal */
.modal {
  display: none;  /* Hide modal by default */
  position: fixed;  /* Position modal fixedly on the screen */
  z-index: 1;  /* Set modal's z-index higher than other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;  /* Enable scrolling when modal content exceeds screen */
  background-color: rgba(0, 0, 0, 0.4);  /* Semi-transparent background */
}

/* CSS for modal content */
.modal-content {
  background-color: #fefefe;  /* White background for modal content */
  margin: 15% auto;  /* Center modal vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;  /* Set width of modal content */
}

/* CSS for close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Custom button style */
.apply-filter-button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margins */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 12px; /* Rounded corners */
}

.apply-filter-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.reset-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.reset-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.reset-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.reset-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* CSS for the generate button */
.generate-button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margins */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 12px; /* Rounded corners */
}

.generate-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* CSS for the Open Popup button */
.open-popup-button {
  position: absolute; /* Position the button absolutely */
  top: 10px; /* Position the button 10px from the top */
  right: 10px; /* Position the button 10px from the right */
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margins */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 12px; /* Rounded corners */
}

.open-popup-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* CSS for the popup */
.popup-metrics {
  display: none; /* Hide the popup by default */
  position: fixed; /* Position the popup fixedly on the screen */
  z-index: 1; /* Set the popup's z-index higher than other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling when popup content exceeds screen */
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

/* CSS for the popup content */
.popup-content {
  background-color: #fefefe; /* White background for popup content */
  margin: 15% auto; /* Center popup vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 50% auto; /* Set width of popup content */
  height: 7%; /* Set height of popup content */
}

/* CSS for the close button */
.close-popup {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*Aumentar tamanho dos gráficos */

#geo-chart {
  width: 99%;
  height: 90%;
}

#song-chart {
  width: 99%;
  height: 90%;
}

#artist-chart {
  width: 99%;
  height: 90%;
}

#streamgraph-chart {
  width: 99%;
  height: 90%;
  
}

#metric-graph {
  width: 99%;
  height: 90%;
  
}

